.select {
    background-color: #a9c3e9;
    color: #000000;
    border: 1px solid #000000;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .option {
    background-color: #E8F0FE;
    color: #000000;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .select:hover,
  .option:hover {
  background-color: #FFD700;
}
.select option:checked {
    background-color: #FFA500;
    color: #FFFFFF; 
  }
  .select option:hover {
    background-color: #FFD700;  
  }
