@font-face {
    font-family: "Comic Andy Lower";
    src: url("../../access/fonts/comic-andy.ttf") format("truetype");
  }

.conte {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../access/detective.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
  }
  .errorInput {
    border: 1px solid red;
  }
  
  .bot {
    background-color: #e9091b; 
    color: #000000; /* Negro */
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  .form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    padding-bottom: 40px;
    margin-top: 60px;
    min-height: 900px;
  }
  .h2{
    color: crimson;
    font-size: 4rem;
    font-family: "Comic Andy Lower", cursive;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .containerLabel {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center
    }
  .label {
    
    color: #140a10;
    font-weight: bold;
    margin-bottom: 10px; 
  }
  .type{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .impu {
    padding: 5px;
    /*border: 1px solid #000000;  Borde negro */
    border-radius: 5px;
    margin-top: 10px;
    
  }
  
  .boton {
    background-color: #FFCC00; /* Amarillo */
    color: #000000; /* Negro */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .selected-types {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
  }

  .select {
    /* Estilos para el select */
    /* Ejemplo de estilos: */
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
  }
  
  .selected-types li {
    margin-bottom: 5px;
  }
  
  .impu:hover {
    border-color: #FFCB05; /* Amarillo claro */
    transition: border-color 0.3s ease;
  }
  
  .boton:hover {
    background-color: #FFD700; /* Dorado */
    transition: background-color 0.3s ease;
  }
  
  .boton:active {
    background-color: #FFA500; /* Naranja */
  }
  .select:focus {
    /* Estilos para el select cuando está en foco */
    /* Ejemplo de estilos: */
    outline: none;
    box-shadow: 0 0 5px blue;
  }
  
.ul {
  /* Estilos para la lista ul */
  /* Ejemplo de estilos: */
  list-style: none;
}
.ul li {
  /* Estilos para los elementos li dentro de ul */
  /* Ejemplo de estilos: */
  padding: 5px;
  background-color: lightgray;
  margin-bottom: 5px;
}