.conte {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../access/Fondos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
  }
  
  .label {
    font-weight: bold;
    color: #140a10; /* Rojo */
  }
  
  .impu {
    padding: 5px;
    border: 1px solid #000000; /* Borde negro */
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .boton {
    background-color: #FFCC00; /* Amarillo */
    color: #000000; /* Negro */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .selected-types {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
  }
  
  .selected-types li {
    margin-bottom: 5px;
  }
  
  .impu:hover {
    border-color: #FFCB05; /* Amarillo claro */
    transition: border-color 0.3s ease;
  }
  
  .boton:hover {
    background-color: #FFD700; /* Dorado */
    transition: background-color 0.3s ease;
  }
  
  .boton:active {
    background-color: #FFA500; /* Naranja */
  }