@font-face {
  font-family: "rennerprivat2";
  src: url("../../access/fonts/rennerprivat2.ttf") format("truetype");
}
.container {
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;
  }
  
  .carTitle {
    color: currentColor;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
   
    font-family: "rennerprivat2", cursive;
  }
  
  .carDescription {
    font-style: italic;
  }
  .ima {
    width: 11em;
    height: 15em;
  
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 5px;
    }
    
    .carTitle {
      font-size: 20px;
    }
    
    .carDescription {
      font-size: 14px;
    }
    .ima {
      max-width: 8em;
      min-width: 6em;
    }
  }