/* .card {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
} */
.car-container {
    background-color: lightgray;
    padding: 10px;
  }
  
  .car-title {
    color: blue;
    font-size: 24px;
  }
  
  .car-description {
    font-style: italic;
  }
  
  @media screen and (max-width: 768px) {
    .car-container {
      padding: 5px;
    }
    
    .car-title {
      font-size: 20px;
    }
    
    .car-description {
      font-size: 14px;
    }
  }