/* .card {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
} */
.container {
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;
  }
  
  .carTitle {
    color: blue;
    font-size: 24px;
  }
  
  .carDescription {
    font-style: italic;
  }
  .ima {
    width: 11em;
  
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 5px;
    }
    
    .carTitle {
      font-size: 20px;
    }
    
    .carDescription {
      font-size: 14px;
    }
    .ima {
      max-width: 8em;
      min-width: 6em;
    }
  }